@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.show-on-larger-screens {
  @media (min-width: 768px) {
    display: flex !important;
  }
}


html, body, #__next {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.ml-64 {
  margin-left: 16rem; /* 64px */
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.fixed {
  position: fixed;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #ffffff;
}

.p-4 {
  padding: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.hover\:bg-gray-700:hover {
  background-color: #4a5568;
}

.rounded {
  border-radius: 0.25rem;
}

.block {
  display: block;
}

.nav li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
}
